* @consensys-vertical-apps/directu-mmi-developer @consensys-vertical-apps/directu-mmi-dso @consensys-vertical-apps/directu-mmi-sre @consensys-vertical-apps/directu-mmi-techlead

.github/** @consensys-vertical-apps/directu-mmi-dso @consensys-vertical-apps/directu-mmi-sre @consensys-vertical-apps/directu-mmi-techlead